<h1>ファイル作成終了</h1>
<p>
Title: <%= @title %><br />
Author: <%= @author %><br />
<hr>
link to Textfile: <%= link_to("Text File",root_url + @docname) %><br />
for iBunko: <a href="ib<%= root_url + @docname + @ibstr %>"> iBunko </a>
