<h1>ファイル作成終了</h1>
<p>
Title: <%= @novel.title %><br />
Author: <%= @novel.author %><br />
<hr>
text data: <a href="<%= url_for(:controller => "totext", :action => "item", :only_path => false) + "/" + @docname + @ibstr %>"> test file </a><br />
for iBunko url: <a href="ib<%= url_for(:controller => "totext", :action => "item", :only_path => false) + "/" + @docname + @ibstr %>"> iBunko </a>
