<!DOCTYPE html>
<html>
<head>
  <title>Narou</title>
  <link href="http://somali.haun.org/iphone.css" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
